html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #15549a;
}

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #fdcc52;
}

a:hover,
a:focus {
  color: #fcbd20;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 3px;
  border-color: rgba(31, 84, 154, 0.9);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/*** Navbar ***/

.navbar {
  min-height: 80px;
}

.navbar-default {
  background-color: #15549a;
  border-color: rgba(21, 84, 154, 0.1);
  opacity: 1;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
}

.navbar-default .navbar-header .navbar-brand {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
  color: #fdcc52;
  padding: 8px 15px 15px 15px;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #fcbd20;
}

.navbar-default .navbar-header .navbar-toggle {
  font-size: 12px;
  color: #222222;
  padding: 8px 10px;
}

.navbar-nav {
  margin-top: 17px;
}

.social_link .navbar-nav {
  margin-right: 0;
}

.navbar-default .nav > li > a {
  font-size: 20px;
  padding: 10px 11px;
  border: 1px solid #fff;
  margin-right: 5px;
  border-radius: 4px;
  background: #15549a;
  font-weight: 500;
}

.navbar-default .nav > li:last-child > a {
  margin-right: 0;
}

.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  color: #fff;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #fdcc52;
}

.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #fdcc52 !important;
  background-color: transparent;
}

.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}

.navbar-default.has-menu .navbar-header .navbar-toggle {
  padding: 12px;
  margin-top: 20px;
  margin-right: 0;
}

.navbar-default.has-menu .navbar-header .navbar-toggle:hover,
.navbar-default.has-menu .navbar-header .navbar-toggle:focus {
  background-color: #fff;
  border-color: #fff;
}
.navbar-default.has-menu .navbar-header .navbar-toggle:hover .icon-bar,
.navbar-default.has-menu .navbar-header .navbar-toggle:focus .icon-bar {
  background-color: #15549a;
}

.navbar-default.has-menu .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default.has-menu .nav > li > a {
  border: none;
  font-size: 16px;
}

/*** Header ***/

header {
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: auto;
  background-attachment: fixed;
  background-clip: border-box, border-box;
  background-color: rgba(0, 0, 0, 0);
  background-origin: padding-box, padding-box;
  background-position: 0 0%, center center;
  background-repeat: no-repeat;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  color: #fff;
  min-height: 740px;
}

span.form-check {
  color: #999;
}

.form-mockup {
  background: #fff;
  padding: 30px;
  margin: 0;
  position: absolute;
  right: 0;
  top: 25%;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}

.form-mockup h2 {
  color: #15549a;
  text-align: left;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 26px;
}

.form-mockup h4 {
  color: #15549a;
  text-align: left;
  margin-top: 0;
  font-weight: 300;
  font-size: 17px;
}

.form-mockup form {
  margin-top: 25px;
}

.form-mockup .form-group .form-control {
  height: 45px;
  border: 3px solid #ddd;
  font-size: 16px;
}

.quote_btn {
  display: block;
  text-align: center;
  width: 100%;
  background: #15549a;
  color: #fff;
  font-size: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 3px solid #15549a;
  border-radius: 4px !important;
  font-weight: 700;
  letter-spacing: 1px !important;
  -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
  transition: 0.5s;
}

.quote_btn:hover {
  background: #003e7c;
  color: #fff;
  border-color: #003e7c;
}

/** Common CSS **/

.mr_top_10 {
  margin-top: 10px;
}

.big {
  font-size: 30px;
}

.bigger {
  font-size: 68px;
}

.super {
  font-size: 72px;
}

.hyper {
  font-size: 96px;
}

.black {
  color: #000;
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.regular {
  font-weight: 500;
}

.light {
  font-weight: 400;
}

.hairline {
  font-weight: 300;
}

.text-caps {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-italic {
  font-style: italic;
}

.normal {
  font-style: normal;
}

.bg-yellow {
  background: #fdcc52;
  background: -webkit-linear-gradient(#fdcc52, #fdc539);
  background: linear-gradient(#fdcc52, #fdc539);
}

.text-primary {
  color: #fdcc52;
}

.no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: white;
  border-color: white;
  border: 1px solid;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: white;
  background-color: #fdcc52;
  border-color: #fdcc52;
}

.btn {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 300px;
}

.btn-xl {
  padding: 15px 45px;
  font-size: 13px;
}

.btn-primary.focus,
.btn-primary:focus {
  border-color: #286090;
}

::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222;
}

::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}

img::selection {
  color: white;
  background: transparent;
}

img::-moz-selection {
  color: white;
  background: transparent;
}

header.demos h1 {
  text-align: center;
  font-size: 40px !important;
}

header.demos p {
  text-align: center;
  font-weight: 600;
  font-size: 20px !important;
}

header.demos a {
  margin-top: 10px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}

a .single_demo {
  background: #f8f8f8;
  padding: 20px 20px 10px 20px;
  transition: all 0.5s ease 0s;
  color: #14549b;
  border-radius: 4px;
}

.single_demo img {
  width: 100%;
}

.single_demo p {
  margin-bottom: 0;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: 500;
}

a .single_demo:hover {
  box-shadow: 0 4px 26px 3px rgba(75, 75, 75, 0.25);
}

.demo a {
  text-decoration: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

input[type="number"] {
  -moz-appearance: textfield !important;
}
